@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Philosopher:ital@1&display=swap");

* {
  /* border: 1px solid white; */
}

.bg-space {
  background-image: url("https://user-images.githubusercontent.com/76813122/150682239-7d009507-013b-4bd9-9573-758f6d725fe5.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: animatedBackground 40s linear infinite;
  animation-fill-mode: forwards;
}

.bg-space-red {
  background-image: url("https://user-images.githubusercontent.com/76813122/150764357-55caf823-d4e5-4fa6-bee3-794213fbf0fa.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: animatedBackground2 200s linear infinite;
}

.bg-space-members {
  background-image: url("https://user-images.githubusercontent.com/76813122/150688658-68aa1a75-d868-46a0-829a-29a5139bb0e5.jpg");
  background-position: 0px 0px;
  background-repeat: repeat;
  animation: animatedBackground 150s linear infinite;
  /* background-size: cover; */
}

.tranparent-bg {
  background-color: rgba(251, 252, 253, 0.03);
  border-radius: 10px;
  width: 90%;
  margin: auto;
  margin-top: 10px;
  padding-bottom: 15px;
  padding-top: 10px;
}

.nam-items {
  transform: translateY(0px);
  transition-duration: 0.35s;
}

.nam-items:hover {
  transform: translateY(-10px);
  transition-duration: 0.35s;
}

.nav-text-weight {
  font-weight: 600;
}

.show-case {
  height: 88vh;
}

.grid {
  margin: auto;
  height: 100%;
  text-align: center;
}

.quote {
  margin-top: 10vh;
  color: rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  background-color: rgba(200, 196, 255, 0);
  font-size: 29px;
  transform: skewX(-17deg);
  transition-duration: 0.5s;
}

.quote-mars {
  margin-top: 7vh;
  color: rgb(255, 255, 255);
  font-family: "Dancing Script", cursive;
  background-color: rgba(200, 196, 255, 0);
  font-size: 29px;
  transform: skewX(-17deg);
  transition-duration: 0.5s;
}

.quote-mars:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px);
}

.quote:hover {
  transition-duration: 0.5s;
  transform: translateY(-5px);
}

.card {
  margin-top: 30vh;
  transition-duration: 0.9s;
  background-color: rgba(69, 126, 201, 0.1);
  border-radius: 10px;
  font-size: 20px;
}

.card-mars {
  margin-top: 16vh;
  transition-duration: 0.9s;
  background-color: rgba(201, 69, 98, 0.1);
  border-radius: 10px;
  font-size: 20px;
}

.card-mars:hover {
  transition-duration: 0.9s;
  background-color: rgba(201, 69, 98, 0.2);
  transform: scale(1.01);
}

.card:hover {
  transition-duration: 0.9s;
  background-color: rgba(69, 126, 201, 0.2);
  transform: scale(1.01);
}

.card-title {
  font-family: "Kaushan Script", cursive;
}

.card-text {
  font-family: "Orbitron", sans-serif;
  letter-spacing: 1.5px;
}

.title-style {
  font-family: "Orbitron", sans-serif;
  transition-duration: 0.3s;
  letter-spacing: auto;
}

.title-style-red {
  font-family: "Orbitron", sans-serif;
  transition-duration: 0.3s;
  letter-spacing: auto;
}

.title-style-black {
  font-family: "Orbitron", sans-serif;
  transition-duration: 0.3s;
  letter-spacing: auto;
}

.title-style:hover {
  transition-duration: 0.3s;
  letter-spacing: 4px;
  color: rgb(18, 89, 243);
  font-weight: 200;
}

.title-style-red:hover {
  transition-duration: 0.3s;
  letter-spacing: 4px;
  font-weight: 500;
  color: rgb(194, 78, 25);
}

.title-style-black:hover {
  transition-duration: 0.3s;
  letter-spacing: 4px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.rocket-to-mars {
  height: 200px;
  width: 200px;
  top: 15%;
  left: -300px;
  animation-name: rocket-fly;
  animation-duration: 35s;
  animation-iteration-count: infinite;
}
.bottom {
  transform: scale(1.5);
  transition-duration: 2s;
  position: relative;
  top: 25%;
  left: -35%;
}

.title-in-box {
  padding: 0px;
  margin-top: 4%;
  letter-spacing: 4px;
  font-weight: 500;
}

.details-in-box {
  padding: 0px;
  letter-spacing: 2px;
  font-weight: 900;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  transition-duration: 0.45s;
}

.details-in-box:hover {
  padding: 0px;
  letter-spacing: 4px;
  font-weight: bolder;
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  transition-duration: 0.35s;
  color: rgb(194, 78, 25);
}

hr {
  transform: scaleY(3);
}

.btn2 {
  text-align: center;
}

/* Media */

@media screen and (min-width: 769px) {
  .bg-space-book {
    background-image: url("https://user-images.githubusercontent.com/76813122/150794095-dc03735d-8be5-465f-855e-21df4cd624fb.jpg");
    background-size: cover;
  }
  img:hover {
    transform: scale(1.3);
    transition-duration: 2s;
  }
  img {
    transform: scale(1);
    transition-duration: 2s;
    position: relative;
    top: 10vh;
    right: -25%;
    width: 35vw;
  }
  .bottom:hover {
    transform: scale(1.8);
    transition-duration: 2s;
    position: relative;
  }
  body {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  @keyframes rocket-fly {
    0% {
      transform: translate(0px, 0px);
    }
    25% {
      transform: translate(205px, -80px);
      /* transform: translateY(20px); */
    }
    50% {
      transform: translate(355px, -120px);
      /* transform: translateY(20px); */
    }
    75% {
      transform: translate(255px, -200px);
      /* transform: translateY(20px); */
    }
    100% {
      transform: translate(0px, 0px);
      /* transform: translateY(20px); */
    }
  }
  /* Animations */

  .drop-up {
    position: relative;
    animation-name: drop-up;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drop-up {
    from {
      top: -150px;
    }
    to {
      top: 0px;
    }
  }

  .drop-left {
    position: relative;
    animation-name: drop-left;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drop-left {
    from {
      left: -250px;
    }
    to {
      left: 0px;
    }
  }

  .drop-out {
    position: relative;
    animation-name: drop-out;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drop-out {
    from {
      transform: scale(0.01);
    }
    to {
      scale: (1);
    }
  }

  .drop-in {
    position: relative;
    animation-name: drop-in;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drop-in {
    from {
      transform: scale(1.2);
    }
    to {
      scale: (1);
    }
  }

  .drop-right {
    position: relative;
    animation-name: drop-right;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drop-right {
    from {
      right: -250px;
    }
    to {
      right: 0px;
    }
  }

  .drop-down {
    position: relative;
    animation-name: drop-bottom;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drop-bottom {
    from {
      bottom: -250px;
    }
    to {
      bottom: 0px;
    }
  }

  form {
    background-color: rgba(27, 27, 26, 0.486);
    margin: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
  }

  .test-sg {
    position: relative;
    width: 550px;
    margin-top: 70px;
    padding: 10px 50px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 769px) {
  .bg-space-book {
    background-image: url("https://user-images.githubusercontent.com/76813122/150807455-2c6a7195-aabb-4e19-aec8-4687d1adf8bb.jpg");
    background-size: cover;
  }
  .bottom {
    transform: scale(1);
    transition-duration: 2s;
    position: relative;
    top: 5%;
    left: -155%;
  }
  @keyframes rocket-fly {
    0% {
      transform: translate(-150px, 0px);
    }
    50% {
      transform: translate(105px, -80px);
      /* transform: translateY(20px); */
    }
    100% {
      transform: translate(-150px, 0px);
      /* transform: translateY(20px); */
    }
  }
  body {
    /* overflow-y: hidden; */
    overflow-x: hidden;
  }
  .bg-space {
    background-image: url("https://user-images.githubusercontent.com/76813122/150682239-7d009507-013b-4bd9-9573-758f6d725fe5.jpg");
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 40s linear infinite;
    animation-fill-mode: forwards;
  }
  .left-pic {
    position: relative;
    left: -600px;
    top: 10%;
  }
  .bg-space-red {
    height: 1000px;
  }
  form {
    background-color: rgba(27, 27, 26, 0.486);
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
  }

  .test-sg {
    position: relative;
    width: 100%;
    margin-top: 70px;
    padding: 10px 10px;
    padding-bottom: 30px;
  }
}

/* Key Frames */

@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes animatedBackground2 {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0% 0;
  }
}
